<div class="main">
    <div class="text-vertical-center">
        <h2>¿Donde quieres congregarte?</h2>
        <br>
        <form class="form-inline">
            <div class="form-group input-group">
                <div id="searchDiv"></div> <span class="input-group-btn"><button class="btn">Buscar</button></span>
            </div>
        </form>
        <ui-gmap-google-map class="collapse" center='map.center' zoom='map.zoom'>
            <ui-gmap-search-box parentdiv="searchbox.parentDiv" template='searchbox.template' events='searchbox.events'>
            </ui-gmap-search-box>
        </ui-gmap-google-map>
    </div>
    
</div>



