<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group"><div id="searchDiv"></div> <span class="input-group-btn"><button class="btn">Buscar</button></span></div>
            </form>
            <button class="btn btn-sm btn-primary navbar-btn navbar-right" ng-click="addChurchEvent()">Agregar congregación</button>
        </div>
    </div>
</div>
<ui-gmap-google-map center="map.center" events="map.events" zoom="map.zoom">
    <ui-gmap-search-box parentdiv="searchbox.parentDiv" template="searchbox.template" events="searchbox.events">
    </ui-gmap-search-box>
    <ui-gmap-marker coords="newChurchMarker.coords" options="newChurchMarker.options" events="newChurchMarker.events" idkey="newChurchMarker.id">
    </ui-gmap-marker>
</ui-gmap-google-map>
